@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Lato:wght@300;400;900&display=swap');
* {
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 50px;
}

.nav-bar ul {
	margin-right: 200px;
	list-style-type: none;
	overflow: hidden;
}

.nav-bar li {
	float: right;
}

.nav-bar a {
	color: #000;
	display: block;
	margin: 0px 25px;
	padding: 8px;
	
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1em;
	font-variant: small-caps;
	letter-spacing: .1em;
	text-decoration: none;
	text-align: center;
}

.nav-bar a:hover {
	color: #FF0000;
}

main h2 {
	font-family: 'Arvo', serif;
	font-size: 1.5em;
	text-align: center;
}

main p {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	text-align: center;
}

.page-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 25px 0px;
	width: 100%;
	height: 700px;
}

.red-text {
	color: #FF0000;
}

#header-head {
	padding-left: 100px;
	width: 70%;
	margin-top: 100px;
	font-family: 'Arvo', serif;
	font-size: 4.5em;
}

#hello-1, #hello-2, #hello-4, #hello-6 {
	animation: fade-in ease 10s;
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#hello-3, #hello-5 {
	animation: 
		glow ease-in-out 2s 2.5s,
		fade-in-2 ease 10s;
}

@keyframes glow {
	0% { text-shadow: 0px 0px 0px; }
  	50% { text-shadow: 0px 10px 15px #ff6666; }
  	100% { text-shadow: 0px 0px 0px; }
}

@keyframes fade-in-2 {
  	0% { opacity: 0; }
  	100% { opacity: 1; }
}

#hello-it-me {
	position: absolute;
	border-radius: 50%;
	box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	width: 300px;
	height: 300px;
	top: 175px;
	right: 100px;
	animation: fade-in-self ease 5s;
}

#hello-it-me img {
	background-color: #000;
	margin: -40px 0px 0px 0px;
	width: 110%;
	height: 140%;
}

@keyframes fade-in-self {
  	0% { opacity: 0; }
  	100% { opacity: 1; }
}

#header-sub {
	position: relative;
	border-right: 1.5px solid #FF0000;
  	overflow: hidden;
  	white-space: nowrap;
	margin: 75px auto;
	width: 550px;
	height: auto;
	
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	font-variant: small-caps;
	letter-spacing: .17em;
	text-align: center;
	
	animation: 
		fade-in-3 6s,
		typewriter 5s 4.5s steps(100, end), 
		blinking-cursor 1s 6s step-end;
}

@keyframes fade-in-3 {
	0% { opacity: 0; }
	75% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes typewriter {
	from { width: 0 }
  	to { width: 550px }
}

@keyframes blinking-cursor {
	from,
  	to { border-color: transparent }
  	50% { border-color: #FF0000; }
}

#header-btn {
	color: #000;
  	font-size: 3em;
  	display: block;
  	position: static;
  	margin: 100px auto;
	width: 5px;
  	text-align: center;
  	animation: 
    	bounce 0.7s ease infinite alternate 7s, 
    	fade-in-4 13.5s ease;
}

#header-btn:hover {
	color: #FF0000;
}

@keyframes bounce {
  0% { transform: translateY(0); text-shadow: 0 0px 8px rgba(0, 0, 0, 0.5); }
  100% { transform: translateY(-20px); text-shadow: 0 20px 8px rgba(0, 0, 0, 0.2); }
}

@keyframes fade-in-4 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity:0; }
  100% { opacity: 1; }
}

.my-projects {
	margin: 75px 0px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  	justify-content: center;
  	align-items: center;
}

.projects div {
	cursor: pointer;
	background-color: #000;
	margin: 10px;
	width: 325px;
	height: 175px;
	transition: 0.4s;
}

.projects div:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#proj-other {
	color: #FFF;
	cursor: pointer;
	background-color: #FF0000;
	border: none;
	display: flex;
  	justify-content: center;
  	align-items: center;
	margin: 25px auto;
  	height: 35px;
	width: 125px;
}

#proj-other:hover {
	background-color: #FF6C6C;
}

#proj-other:active {
  	background-color: #FF6C6C;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	transform: translateY(4px);
}

.lan-icons, .skills-icons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  	justify-content: center;
  	align-items: center;	
}

.lan-icons div, .skills-icons div {
	margin: 10px 75px;
	font-size: 4em;
	transition: 0.4s;
}

.projects i:hover, .skills-icons i:hover {
	text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
